* {
    box-sizing: border-box;
    transition: all 0.15s ease-out 0s;
    font-family: 'PWCentra', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}